<h1>Log in</h1>

    <% flash.each do |name, msg| %>
      <div class="alert alert-danger">
          <a href="#" class="close" data-dismiss="alert">&times;</a>  
          <strong>Prohibited errors:</strong><%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
    </div>
    <%= form_tag sessions_path do %>
      <div class="form-group">
          <%= label_tag :email %>
          <%= text_field_tag :email, params[:email],:class => "form-control" %>
      </div>
      <div class="form-group">
          <%= label_tag :password %>
          <%= password_field_tag :password, params[:password],:class => "form-control" %>

      </div>
      <p class="button"><%= submit_tag "Log in",:class=>"btn btn-default" %></p>

    <% end %>
