<h1>Listing equipment</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mark</th>
      <th>Serial</th>
      <th>Quantity</th>
      <th>Brutto</th>
      <th>V brutto</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= equipment.name %></td>
        <td><%= equipment.mark %></td>
        <td><%= equipment.serial %></td>
        <td><%= equipment.quantity %></td>
        <td><%= equipment.brutto %></td>
        <td><%= equipment.v_brutto %></td>
        <td><%= equipment.comments %></td>
        <td><%= link_to 'Show', equipment,:class=>"btn btn-primary btn-sm" %></td>
        <td><%= link_to 'Edit', edit_equipment_path(equipment),:class=>"btn btn-primary btn-sm" %></td>
        <td><%= link_to 'Destroy', equipment, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipment', new_equipment_path,:class=>"btn btn-default" %>
