<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @equipment.name %>
</p>

<p>
  <strong>Mark:</strong>
  <%= @equipment.mark %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @equipment.serial %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @equipment.quantity %>
</p>

<p>
  <strong>Brutto:</strong>
  <%= @equipment.brutto %>
</p>

<p>
  <strong>V brutto:</strong>
  <%= @equipment.v_brutto %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @equipment.comments %>
</p>

<%= link_to 'Edit', edit_equipment_path(@equipment), :class=>"btn btn-default" %> |
<%= link_to 'Back', :back, :class=>"btn btn-default" %>
