<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong><%= pluralize(@user.errors.count, "error") %> prohibited this protocol from being saved:</strong>

        <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
        </ul>
    </div>
  <% end %>


  <div class="col-sm-6 col-md-4">
      <div class="form-group">
          <label><%= f.label :company_id %></label><br/>
          <%= select_tag('user[company_id]',options_from_collection_for_select(Company.all, "id", "name", @user.company_id),{class: "form-control"}) %>
        </div>
        <div class="form-group">
            <%= f.label :name, "Full name" %><br>
            <%= f.text_field :name, :class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :email %><br>
            <%= f.text_field :email, :class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :password %><br>
            <%= f.password_field :password, :class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :password_confirmation %><br>
            <%= f.password_field :password_confirmation, :class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :privilege,'Admin' %><br>
            <%= f.check_box :privilege, :class => "form-control" %>
        </div>


        <div class="actions">
            <%= link_to 'Back', protocols_path, :class=>"btn btn-default"  %>
            <%= f.submit 'Create User', :class=>"btn btn-default" %>
        </div>
      <% end %>
  </div>
