# encoding: utf-8
<% @userr = User.all %>
<h1>Listing users <%= @userr.count %> </h1>

<%#*Forumlarz wyszukujący tresc%>


<br><br>

<table class="table table-hover">
  <thead>
    <tr>

      <th>Company</th>
      <th>Full name</th>
      <th>Email</th>
      <th>Registration date</th>
      

<%#*<th>Owner</th>%>
<%#*<th>Email</th>%>
<%#*<th>Telephone</th>%>
<%#*<th>IP</th>%>
<%#*<th>Updated</th>%>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>

        <td><%= user.company.name %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
       

  <%#*<td><%= user.owner.blank? ? "-" : user.owner.force_encoding('utf-8') </td>%>
  <%#*<td><%= user.email.blank? ? "-" : (mail_to user.email) </td>%>
  <%#*<td><%= user.telephone.blank? ? "-" : user.telephone </td>%>
  <%#*<td><%= user.ip_address.blank? ? "-" : user.ip_address </td>%> 
  <%#*<td><%= user.updated_at </td>%>

       
        
        <td style="text-align: center;"><%= link_to 'Show', user, :class=>"btn btn-primary btn-sm" %></td>
        <td style="text-align: center;"><%= link_to 'Edit', edit_user_path(user), :class=>"btn btn-primary btn-sm"  %></td>
        <td style="text-align: center;"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<%= link_to 'New User', new_user_path,:class=>"btn btn-default" %> 
<%= link_to 'Back', users_path,:class=>"btn btn-default" %>


