<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @user.company.name %>
</p>
<p>
  <strong>Full name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Date:</strong>
  <%= @user.created_at %>
</p>

<%= link_to 'Edit', edit_user_path(@user), :class=>"btn btn-default" %> |
<%= link_to 'Back', users_path, :class=>"btn btn-default" %>
