<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</strong>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-sm-6 col-md-4">
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <div class="actions">
      <%= link_to 'Back', companies_path ,:class=>"btn btn-default"%>
      
    <%= f.submit 'Create company', :class=>"btn btn-default" %>
  </div>
</div>
<% end %>
