<%= nested_form_for(@protocol) do |f| %>
  <% if @protocol.errors.any? %>
    <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong><%= pluralize(@protocol.errors.count, "error") %> prohibited this protocol from being saved:</strong>

      <ul>
        <% @protocol.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% @last = Protocol.order("created_at").last.number %>
  <%  @last+=1 %>
<div class="col-sm-6 col-md-4">
  <div class="form-group">
    <%= f.label :number %><br>
    <%= f.text_field :number, :value => @last, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :user_id, "From"%><br>
    <%= f.text_field :user_id, :value => current_user.name, :disabled => true, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :user_to_id, "To"%><br>

    <%= f.collection_select :user_to_id, User.all, :id, :name, {prompt: "Select a user"}, {class: "form-control"}  %>
  </div>
  <div class="form-group">
    <%= f.label :company_id, "From"%><br>

    <%= f.collection_select :company_id, Company.all, :id, :name, {prompt: "Select a user"}, {class: "form-control"}  %>
  </div>
  <div class="form-group">
    <%= f.label :company_to_id, "To"%><br>

    <%= f.collection_select :company_to_id, Company.all, :id, :name, {prompt: "Select a user"}, {class: "form-control"}  %>
  </div>

<%#*//--------------------------------------------------------------------------%>

  <%= f.fields_for :equipments do |ff| %>
    <table class="equip">
      <tr>
        <td>Name:</td><td><%= ff.text_field :name, :class => "form-control" %></td>  
        <td>Mark: </td><td><%= ff.text_field :mark,  :class => "form-control" %></td>
        <td>Serial:</td><td><%= ff.text_field :serial, :class => "form-control" %></td>
        <td>Quantity:</td><td><%= ff.text_field :quantity, :onkeyup => "doQuan(this);", :class => "form-control" %></td>
        <td>Brutto:</td><td><%= ff.text_field :brutto,  :onkeyup => "doBrut(this);", :class => "form-control" %></td> 
        <td>Brutto value:</td><td><%= ff.text_field :v_brutto, :placeholder => "-", :class => "form-control" %></td>        
        <td>Comments:</td><td><%= ff.text_field :comments, :class => "form-control" %></td>
        <td><%= ff.link_to_remove "Remove", :class=>"btn btn-default" %></td>
      </tr>
    </table><br/>
  <% end %>
    
  <p><%= f.link_to_add "Add a equipment", :equipments, :class=>"btn btn-default" %></p>

<%#*//--------------------------------------------------------------------------%>
  <div class="form-group">
    <%= f.label :date %><br>
    <%= f.date_select :date,{class: "form-control"} %>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :number, :value => @last %>
  <div class="actions">
      <%= link_to 'Back', protocols_path, :class=>"btn btn-default" %>
    <%= f.submit 'Create protocol', :class=>"btn btn-default" %>
  </div>
  </div>
<% end %>
