<% if notice %>
  <div class='alert alert-success'>
      <strong>Done!</strong>
      <p id="notice"><%= notice %></p>
  </div>
<% end %>

<h1>Listing protocols</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Nr.</th>
            <th>Full name</th>
            <th>Date</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @protocols.each do |protocol| %>
          <tr>
              <td><%= protocol.number %></td>
              <%
              pname = protocol.user.try(:name) ? protocol.user.name : "brak"
                     
              %>
              <td><%= pname %></td>
              <td><%= protocol.date %></td>
              <td><%= link_to 'Show', protocol,:class=>"btn btn-primary btn-sm" %></td>
              <td><%= link_to 'Edit', edit_protocol_path(protocol),:class=>"btn btn-primary btn-sm" %></td>
              <td><%= link_to 'Destroy', protocol, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-primary btn-sm",:class=>"btn btn-danger btn-sm" %></td>
          </tr>
        <% end %>
    </tbody>
</table>

<br>


<%= link_to 'New Protocol', new_protocol_path ,:class=>"btn btn-default" %>
