<table border="1">
    <tr>
        <td></td><td>Protokół przekazania NR: <b><%= @protocol.number %></b></td><td>FOR-0<%= @protocol.number %>-PP</td>
    </tr>
    <tr>
        <td><b>ZATWIERDZAM</b></td><td></td><td>Egz nr: 1</td>
    </tr>
    <tr>
        <td>...............</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
    </tr>
      
    <tr>
        <td></td>
    </tr>
      
    <tr>
        <td></td>
    </tr>
      
    <tr>
        <td></td>
    </tr>
      

</table>

<%= link_to 'Edit', edit_protocol_path(@protocol) %> |
<%= link_to 'Back', protocols_path %>
