<p id="notice"><%= notice %></p>

<p>
  <strong>Nr.</strong>
  <%= @protocol.number %>
</p>
<p>
  <strong>From:</strong>
  <%= @protocol.user.name %>
</p>
<p>
  <strong>To:</strong>

  <%=  @protocol.user_to.name %>
</p>
<p>
  <strong>From:</strong>

  <%=  @protocol.company.name %>
</p>
<p>
  <strong>To:</strong>

  <%=  @protocol.company_to.name %>
</p>
<p>
<table class="table">
  <thead>
    <tr>
      <th>Lp.</th>
      <th>Name</th>
      <th>Mark</th>
      <th>Serial</th>
      <th>Quantity</th>
      <th>Brutto</th>
      <th>V brutto</th>
      <th>Comments</th>
     
    </tr>
  </thead>

  <tbody>
   
    <% @equip.each_with_index do |equipment,i| %>
      <tr>
        <td><%= i + 1 %> </td>
        <td><%= equipment.name %></td>
        <td><%= equipment.mark %></td>
        <td><%= equipment.serial %></td>
        <td><%= equipment.quantity %></td>
        <td><%= equipment.brutto %></td>
        <td><%= equipment.v_brutto %></td>
        <td><%= equipment.comments %></td>
     
      </tr>
    <% end %>
  </tbody>
</table>
</p>
<p>
  <strong>Date:</strong>
  <%= @protocol.date %>
</p>

<%= link_to 'Edit', edit_protocol_path(@protocol), :class=>"btn btn-default" %> 
<%= link_to 'Back', protocols_path, :class=>"btn btn-default" %>
<%= link_to 'Generate XLS', generate_protocol_path(@protocol) , :class=>"btn btn-success" %>

