@import "bootstrap";
@import "bootstrap-responsive";
@import "equipment.css.scss";
@import "protocols.css.scss";





ul.nav.nav-pills
{
    margin-top: 5px;
}

ul.nav.nav-pills a
{
    color: #000;
    
}



table.equip .form-control
{
    width:100px;
    
   
    
}

table.equip tr td
{
    padding-right:8px;
    font-size: 14px;
    font-weight: bold;
}

.jumbotron
{
    background: #F7F7F7;
}
